<!DOCTYPE html>
<html lang="en">
<head>
    {% block head -%}{%- endblock head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer ="{{ url_for('js', file_path='alpinejs.min.js') }}"></script>
    <script src="{{ url_for('js', file_path='htmx.min.js') }}"></script>
    {% block javascript -%}{%- endblock javascript %}
    <link rel="stylesheet" href="{{ url_for('css', file_path='style.css') }}">
    {% block style %}{% endblock style %}
    <title>
        {% block title -%}
        Default Template
        {%- endblock title %}
    </title>
</head>
<body>
    {% block content -%}
    <h1>default template</h1>
    {%- endblock content %}
</body>
</html>